/* main */
#wrapper {
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  background: #2B3141;
  position: absolute;
}
#main {
  width: 1204px;
  height: 100%;
  margin: 0 auto;
  position: relative;
}
#left-cent {
  top: 0;
  left: 0;
  width: 802px;
  height: 100%;
  background: #FFFFFF;
  position: absolute;
}
#left-cent .topbar {
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  border-bottom: 2px dashed #E6E6E6;
  position: absolute;
}
#left-cent .toolbar {
  right: 0;
  left: 0;
  bottom: 0;
  height: 50px;
  position: absolute;
  border-top: 1px solid #D9D9D9;
}
#left-cent .title {
  display: inline-block;
  font-size: 18px;
  color: #999999;
  margin: 14px 0 0 30px;
  padding: 2px;
  position: relative;
  float: left;
}
#left-cent .title:after {
  content: '';
  display: block;
  position: absolute;
  bottom: -6px;
  right: 0;
  left: 0;
  border-bottom: 1px solid #999999;
}
#left-cent .separated {
  width: 1px;
  height: 22px;
  background: #F0f0f0;
  margin: 14px 10px 12px 10px;
  float: left;
}
#left-cent .sketchpad-cent {
  top: 60px;
  bottom: 50px;
  right: 0;
  left: 0;
  position: absolute;
  overflow: hidden;
}
#left-cent .sketchpad-img {
  position: absolute;
  top: 0;
  display: block;
  margin: 0 auto;
}
#left-cent .scroll {
  width: 802px;
}
#left-cent .session-cent {
  position: absolute;
  width: 429px;
  height: 270px;
  bottom: 68px;
  right: 36px;
  background: #FFFFFF;
  border: 1px solid #D9D9D9;
  display: none;
  box-shadow: #D9D9D9 0px 0px 6px;
}
#left-cent .session-cent .scroll {
  width: 426px;
}
#left-cent .session-cent:before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  bottom: -10px;
  right: 20px;
  border-top: 10px solid #D9D9D9;
  border-right: 16px solid transparent;
  border-left: 16px solid transparent;
  z-index: 2;
}
#left-cent .session-cent:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  bottom: -8px;
  right: 20px;
  border-top: 10px solid #FFFFFF;
  border-right: 16px solid transparent;
  border-left: 16px solid transparent;
  z-index: 2;
}
#right-cent {
  top: 0;
  right: 0;
  width: 380px;
  height: 100%;
  background: #FFFFFF;
  position: absolute;
}
#task-box-cent {
  position: relative;
  width: 100%;
  height: 100%;
  border: 1px solid #D9D9D9;
  box-shadow: #D9D9D9 0px 0px 6px;
  background: #FFFFFF;
}
#task-box-cent .task-topbar {
  height: 28px;
  right: 0;
  left: 0;
  position: absolute;
  font-size: 18px;
  line-height: 28px;
  background: #F7F7F7;
  color: #9E9E9E;
  text-align: center;
  border-bottom: 1px solid #DCDCDC;
}
#task-box-cent .task-name {
  width: 200px;
  margin-left: 88px;
  float: left;
  text-align: center;
}
#task-box-cent .task-cent {
  top: 28px;
  bottom: 135px;
  right: 0;
  left: 0;
  position: absolute;
  overflow: hidden;
}
#task-box-cent .task-btmbar {
  height: 135px;
  bottom: 0;
  right: 0;
  left: 0;
  position: absolute;
}
#task-box-cent .task-sum-btn {
  width: 70px;
  height: 28px;
  position: absolute;
  right: 4px;
  top: 1px;
  color: #FFFFFF;
  text-align: center;
  border-radius: 2px;
  cursor: pointer;
  font-size: 16px;
  line-height: 18px;
}
#task-box-cent .task-webcam-btn {
  cursor: pointer;
  position: absolute;
  width: 26px;
  height: 22px;
  left: 50px;
  top: 4px;
  background: url('../images/icons.png') no-repeat 0px -2px;
}
#task-box-cent .task-upload-btn {
  cursor: pointer;
  position: absolute;
  width: 30px;
  height: 22px;
  left: 92px;
  top: 4px;
  background: url('../images/icons.png') no-repeat -71px -2px;
  overflow: hidden;
}
#task-box-cent .task-upload-btn input {
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
#task-box-cent .chat_content_group.buddy {
  text-align: left;
}
#task-box-cent .chat_content_group {
  padding: 10px;
}
#task-box-cent .chat_content_avatar {
  float: left;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
#task-box-cent .chat_nick {
  font-size: 14px;
  margin: 0 0 10px;
}
#task-box-cent .chat_content {
  display: inline-block;
  min-height: 16px;
  max-width: 50%;
  background: #F7F7F7;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 10px 15px;
  word-break: break-all;
  border: 1px solid #E6E6E6;
  line-height: 1.4;
  position: relative;
}
#task-box-cent .chat_content:before {
  content: "";
  display: block;
  position: absolute;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-right: 10px solid #E6E6E6;
  top: 0px;
  left: -10px;
}
#task-box-cent .chat_content:after {
  content: "";
  display: block;
  position: absolute;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-right: 10px solid #F7F7F7;
  top: 0;
  left: -6px;
}
#task-box-cent .chat_content_group.self {
  text-align: right;
}
#task-box-cent .chat_content_group.self .chat_content_avatar {
  float: right;
  margin: 0 0 0 10px;
}
#task-box-cent .chat_content_group.self .chat_nick {
  text-align: right;
}
#task-box-cent .chat_content_group.self .chat_content {
  text-align: left;
}
#task-box-cent .chat_content_group.self .chat_content {
  background: #B5E1FF;
  border: 1px solid #93C4E6;
}
#task-box-cent .chat_content_group.self .chat_content:before {
  border-right: none;
  border-left: 10px solid #93C4E6;
  right: -10px;
  left: auto;
}
#task-box-cent .chat_content_group.self .chat_content:after {
  border-right: none;
  border-left: 10px solid #B5E1FF;
  right: -6px;
  left: auto;
}
#pop-list {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
}
.pop-box {
  position: relative;
  background: #FFF;
  padding: 20px;
  width: auto;
  max-width: 500px;
  margin: 20px auto;
  border-radius: 4px;
}
.pop-box .pop-box-top {
  margin-bottom: 10px;
  text-align: center;
  font-size: 18px;
}
.pop-box .pop-box-mid {
  margin-bottom: 10px;
  text-align: center;
}
.pop-box .pop-box-btm {
  text-align: center;
}
.test-media-pop {
  width: 400px;
}
.test-media-pop .media-test {
  width: 320px;
  height: 240px;
}
.test-media-pop .media-test-success-btn {
  margin-right: 20px;
}
.remark-pop {
  padding: 0;
  width: 350px;
  overflow: hidden;
  background: #F7F7F7;
}
.remark-pop .pop-box-top {
  margin: 0;
  height: 52px;
  border-bottom: 1px solid #D9D9D9;
}
.remark-pop .pop-box-mid {
  height: 200px;
  margin: 0;
  overflow: hidden;
}
.remark-pop .pop-box-mid li {
  height: 100px;
}
.remark-pop .pop-box-btm {
  height: 67px;
  border-top: 1px solid #D9D9D9;
}
.remark-pop .remark-top-tit {
  margin-top: 14px;
  margin-left: 20px;
  float: left;
  font-weight: bold;
}
.remark-pop .remark-top-num {
  margin-right: 20px;
  margin-top: 14px;
  float: right;
  color: #B1B1B1;
}
.remark-pop .raty-box {
  width: 100%;
  height: 100%;
  position: relative;
}
.remark-pop .raty-tit {
  font-size: 18px;
  line-height: 100px;
  float: left;
  margin-left: 36px;
}
.remark-pop .raty {
  cursor: pointer;
  float: left;
  margin-top: 40px;
  margin-left: 40px;
}
.remark-pop .remark-tit {
  font-size: 18px;
  line-height: 100px;
}
.remark-pop .remark {
  width: 202px;
  height: 72px;
  resize: none;
  border-radius: 3px;
  border: 1px solid #E7E7E7;
  margin-top: 10px;
  margin-right: 35px;
  float: right;
}
.remark-pop .remark-confirm-btn {
  margin-top: 18px;
}
.photo-pop {
  max-width: 540px;
}
.photo-pop .photo-box {
  width: 500px;
  height: 400px;
}
.photo-pop .photo-upload-btn {
  display: none;
  margin-right: 20px;
}
.photo-pop .photo-reset-btn {
  display: none;
}
.photo-pop .photo-confirm-btn {
  margin-right: 20px;
}
.upimg-pop {
  max-width: 640px;
  min-width: 240px;
}
.upimg-pop .view-box {
  position: relative;
}
.upimg-pop canvas {
  border: 1px dashed #0087F7;
}
.upimg-pop .upimg-upload-btn {
  margin-right: 20px;
}
#sketchpad-lock {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 50px;
}
#sketchpad-lock .rb-box {
  margin-bottom: -50px;
  width: 200px;
  height: 50px;
  position: absolute;
  bottom: 0;
  right: 0;
}
