/* A Linux- and Windows-friendly sans-serif font stack: http://prospects.mhurrell.co.uk/post/updating-the-helvetica-font-stack */
body {
  font: 13px 'Microsoft YaHei', Helmet, Freesans, sans-serif;
}
/* Using local fonts? Check out Font Squirrel's webfont generator: http://www.fontsquirrel.com/tools/webfont-generator */
/* We like off-black for text. */
body,
select,
input,
textarea {
  color: #333;
}
a {
  color: #03f;
}
a:hover {
  color: #69f;
}
/* Custom text-selection colors (remove any text shadows: http://twitter.com/miketaylr/status/12228805301) */
::-moz-selection {
  background: transparent;
  text-shadow: none;
}
::selection {
  background: transparent;
  text-shadow: none;
}
/*	j.mp/webkit-tap-highlight-color */
a:link {
  -webkit-tap-highlight-color: #fcd700;
}
ins {
  background-color: #fcd700;
  color: #000;
  text-decoration: none;
}
mark {
  background-color: #fcd700;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
/* Mozilla dosen't style place holders by default */
input:-moz-placeholder {
  color: #a9a9a9;
}
textarea:-moz-placeholder {
  color: #a9a9a9;
}
html {
  overflow-y: hidden;
}
.sprite-icon:before,
.pen-btn.active:after {
  content: '';
  display: inline-block;
  overflow: hidden;
  background-repeat: no-repeat;
  background-image: url('../images/icon.png');
}
.icon-add-len:before {
  width: 20px;
  height: 22px;
  background-position: -142px -26px;
}
.icon-bg-board:before {
  width: 20px;
  height: 22px;
  background-position: -142px -2px;
}
.icon-board-off:before,
.icon-board-lock.active:before {
  width: 22px;
  height: 22px;
  background-position: -96px -26px;
}
.icon-board-on:before,
.icon-board-lock:before {
  width: 22px;
  height: 22px;
  background-position: -96px -2px;
}
.icon-chat:before {
  width: 22px;
  height: 20px;
  background-position: -164px -24px;
}
.icon-clear-all:before {
  width: 22px;
  height: 20px;
  background-position: -164px -2px;
}
.icon-empty-board:before {
  width: 20px;
  height: 22px;
  background-position: -120px -26px;
}
.icon-eraser:before {
  width: 22px;
  height: 18px;
  background-position: -188px -26px;
}
.icon-help:before {
  width: 44px;
  height: 44px;
  background-position: -2px -2px;
}
.icon-hook,
.pen-btn.active:after {
  width: 12px;
  height: 10px;
  background-position: -212px -26px;
}
.icon-microphone:before {
  width: 14px;
  height: 22px;
  background-position: -209px -2px;
}
.icon-mvideo:before {
  width: 22px;
  height: 22px;
  background-position: -72px -26px;
}
.icon-pen-black:before {
  width: 22px;
  height: 22px;
  background-position: -72px -2px;
}
.icon-pen-red:before {
  width: 22px;
  height: 22px;
  background-position: -48px -26px;
}
.icon-retrieval:before {
  width: 22px;
  height: 22px;
  background-position: -48px -2px;
}
.icon-video:before {
  width: 19px;
  height: 22px;
  background-position: -188px -2px;
}
.icon-whiteboard:before {
  width: 20px;
  height: 22px;
  background-position: -120px -2px;
}
.tool-btn {
  width: 52px;
  height: 36px;
  margin: 4px 8px;
  border: 1px solid transparent;
  border-radius: 4px;
  float: left;
  cursor: pointer;
}
.pen-btn {
  width: 22px;
  height: 22px;
  margin: 10px 8px;
  float: left;
  cursor: pointer;
  position: relative;
}
.pen-btn.active:after {
  position: absolute;
  top: 6px;
  left: 5px;
}
.tool-btn.active {
  border-color: #999999;
}
.icon-microphone {
  margin-left: 24px;
}
.icon-microphone:before {
  margin-top: 6px;
  margin-left: 18px;
}
.icon-chat:before {
  margin-top: 6px;
  margin-left: 15px;
}
.icon-video:before {
  margin-top: 6px;
  margin-left: 15px;
}
.icon-mvideo:before {
  margin-top: 6px;
  margin-left: 15px;
}
.icon-retrieval:before {
  margin-top: 5px;
  margin-left: 14px;
}
.icon-board-lock {
  margin-left: 30px;
}
.icon-board-lock:before {
  margin-top: 5px;
  margin-left: 14px;
}
.icon-board-on:before,
.icon-board-lock:before {
  margin-top: 5px;
  margin-left: 14px;
}
.icon-pen-black {
  margin-left: 30px;
}
.icon-pen-red {
  margin-left: 14px;
}
.icon-eraser {
  margin-left: 28px;
}
.icon-eraser:before {
  margin-top: 8px;
  margin-left: 14px;
}
.icon-clear-all:before {
  margin-top: 6px;
  margin-left: 14px;
}
.icon-clear-all:before {
  margin-top: 7px;
  margin-left: 14px;
}
.icon-whiteboard {
  margin-left: 12px;
}
.icon-whiteboard:before {
  margin-top: 6px;
  margin-left: 14px;
}
.load-icon {
  transform: scale(0.5);
  width: 60px;
  height: 60px;
}
.load-icon > div {
  background-color: #3498DB;
}
/*
 *   bs2-btn
*/
.btn {
  display: inline-block;
  *display: inline;
  padding: 4px 12px;
  margin-bottom: 0;
  *margin-left: .3em;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  *background-color: #e6e6e6;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #cccccc;
  *border: 0;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.btn:hover,
.btn:focus,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
  color: #333333;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
}
.btn:active,
.btn.active {
  background-color: #cccccc \9;
}
.btn:first-child {
  *margin-left: 0;
}
.btn:hover,
.btn:focus {
  color: #333333;
  text-decoration: none;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
  -moz-transition: background-position 0.1s linear;
  -o-transition: background-position 0.1s linear;
  transition: background-position 0.1s linear;
}
.btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn.active,
.btn:active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.btn.disabled,
.btn[disabled] {
  cursor: default;
  background-image: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn-large {
  padding: 11px 19px;
  font-size: 17.5px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.btn-large [class^="icon-"],
.btn-large [class*=" icon-"] {
  margin-top: 4px;
}
.btn-small {
  padding: 2px 10px;
  font-size: 11.9px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.btn-small [class^="icon-"],
.btn-small [class*=" icon-"] {
  margin-top: 0;
}
.btn-mini [class^="icon-"],
.btn-mini [class*=" icon-"] {
  margin-top: -1px;
}
.btn-mini {
  padding: 0 6px;
  font-size: 10.5px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.btn-block {
  display: block;
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.btn-block + .btn-block {
  margin-top: 5px;
}
input[type="submit"].btn-block,
input[type="reset"].btn-block,
input[type="button"].btn-block {
  width: 100%;
}
.btn-primary.active,
.btn-warning.active,
.btn-danger.active,
.btn-success.active,
.btn-info.active,
.btn-inverse.active {
  color: rgba(255, 255, 255, 0.75);
}
.btn-primary {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #006dcc;
  *background-color: #0044cc;
  background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
  background-image: -o-linear-gradient(top, #0088cc, #0044cc);
  background-image: linear-gradient(to bottom, #0088cc, #0044cc);
  background-repeat: repeat-x;
  border-color: #0044cc #0044cc #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  color: #ffffff;
  background-color: #0044cc;
  *background-color: #003bb3;
}
.btn-primary:active,
.btn-primary.active {
  background-color: #003399 \9;
}
.btn-warning {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #faa732;
  *background-color: #f89406;
  background-image: -moz-linear-gradient(top, #fbb450, #f89406);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
  background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
  background-image: -o-linear-gradient(top, #fbb450, #f89406);
  background-image: linear-gradient(to bottom, #fbb450, #f89406);
  background-repeat: repeat-x;
  border-color: #f89406 #f89406 #ad6704;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffbb450', endColorstr='#fff89406', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active,
.btn-warning.disabled,
.btn-warning[disabled] {
  color: #ffffff;
  background-color: #f89406;
  *background-color: #df8505;
}
.btn-warning:active,
.btn-warning.active {
  background-color: #c67605 \9;
}
.btn-danger {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #da4f49;
  *background-color: #bd362f;
  background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));
  background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -o-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
  background-repeat: repeat-x;
  border-color: #bd362f #bd362f #802420;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffee5f5b', endColorstr='#ffbd362f', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.btn-danger.disabled,
.btn-danger[disabled] {
  color: #ffffff;
  background-color: #bd362f;
  *background-color: #a9302a;
}
.btn-danger:active,
.btn-danger.active {
  background-color: #942a25 \9;
}
.btn-success {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #5bb75b;
  *background-color: #51a351;
  background-image: -moz-linear-gradient(top, #62c462, #51a351);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
  background-image: -webkit-linear-gradient(top, #62c462, #51a351);
  background-image: -o-linear-gradient(top, #62c462, #51a351);
  background-image: linear-gradient(to bottom, #62c462, #51a351);
  background-repeat: repeat-x;
  border-color: #51a351 #51a351 #387038;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff51a351', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  color: #ffffff;
  background-color: #51a351;
  *background-color: #499249;
}
.btn-success:active,
.btn-success.active {
  background-color: #408140 \9;
}
.btn-info {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #49afcd;
  *background-color: #2f96b4;
  background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#2f96b4));
  background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -o-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: linear-gradient(to bottom, #5bc0de, #2f96b4);
  background-repeat: repeat-x;
  border-color: #2f96b4 #2f96b4 #1f6377;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff2f96b4', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.btn-info.disabled,
.btn-info[disabled] {
  color: #ffffff;
  background-color: #2f96b4;
  *background-color: #2a85a0;
}
.btn-info:active,
.btn-info.active {
  background-color: #24748c \9;
}
.btn-inverse {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #363636;
  *background-color: #222222;
  background-image: -moz-linear-gradient(top, #444444, #222222);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#444444), to(#222222));
  background-image: -webkit-linear-gradient(top, #444444, #222222);
  background-image: -o-linear-gradient(top, #444444, #222222);
  background-image: linear-gradient(to bottom, #444444, #222222);
  background-repeat: repeat-x;
  border-color: #222222 #222222 #000000;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff444444', endColorstr='#ff222222', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn-inverse:hover,
.btn-inverse:focus,
.btn-inverse:active,
.btn-inverse.active,
.btn-inverse.disabled,
.btn-inverse[disabled] {
  color: #ffffff;
  background-color: #222222;
  *background-color: #151515;
}
.btn-inverse:active,
.btn-inverse.active {
  background-color: #080808 \9;
}
button.btn,
input[type="submit"].btn {
  *padding-top: 3px;
  *padding-bottom: 3px;
}
button.btn::-moz-focus-inner,
input[type="submit"].btn::-moz-focus-inner {
  padding: 0;
  border: 0;
}
button.btn.btn-large,
input[type="submit"].btn.btn-large {
  *padding-top: 7px;
  *padding-bottom: 7px;
}
button.btn.btn-small,
input[type="submit"].btn.btn-small {
  *padding-top: 3px;
  *padding-bottom: 3px;
}
button.btn.btn-mini,
input[type="submit"].btn.btn-mini {
  *padding-top: 1px;
  *padding-bottom: 1px;
}
.btn-link,
.btn-link:active,
.btn-link[disabled] {
  background-color: transparent;
  background-image: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn-link {
  color: #0088cc;
  cursor: pointer;
  border-color: transparent;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.btn-link:hover,
.btn-link:focus {
  color: #005580;
  text-decoration: underline;
  background-color: transparent;
}
.btn-link[disabled]:hover,
.btn-link[disabled]:focus {
  color: #333333;
  text-decoration: none;
}
.btn-group {
  position: relative;
  display: inline-block;
  *display: inline;
  *margin-left: .3em;
  font-size: 0;
  white-space: nowrap;
  vertical-align: middle;
  *zoom: 1;
}
.btn-group:first-child {
  *margin-left: 0;
}
.btn-group + .btn-group {
  margin-left: 5px;
}
.btn-toolbar {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 0;
}
.btn-toolbar > .btn + .btn,
.btn-toolbar > .btn-group + .btn,
.btn-toolbar > .btn + .btn-group {
  margin-left: 5px;
}
.btn-group > .btn {
  position: relative;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.btn-group > .btn + .btn {
  margin-left: -1px;
}
.btn-group > .btn,
.btn-group > .dropdown-menu,
.btn-group > .popover {
  font-size: 14px;
}
.btn-group > .btn-mini {
  font-size: 10.5px;
}
.btn-group > .btn-small {
  font-size: 11.9px;
}
.btn-group > .btn-large {
  font-size: 17.5px;
}
.btn-group > .btn:first-child {
  margin-left: 0;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -moz-border-radius-topleft: 4px;
}
.btn-group > .btn:last-child,
.btn-group > .dropdown-toggle {
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 4px;
}
.btn-group > .btn.large:first-child {
  margin-left: 0;
  -webkit-border-bottom-left-radius: 6px;
  border-bottom-left-radius: 6px;
  -webkit-border-top-left-radius: 6px;
  border-top-left-radius: 6px;
  -moz-border-radius-bottomleft: 6px;
  -moz-border-radius-topleft: 6px;
}
.btn-group > .btn.large:last-child,
.btn-group > .large.dropdown-toggle {
  -webkit-border-top-right-radius: 6px;
  border-top-right-radius: 6px;
  -webkit-border-bottom-right-radius: 6px;
  border-bottom-right-radius: 6px;
  -moz-border-radius-topright: 6px;
  -moz-border-radius-bottomright: 6px;
}
.btn-group > .btn:hover,
.btn-group > .btn:focus,
.btn-group > .btn:active,
.btn-group > .btn.active {
  z-index: 2;
}
.btn-group .dropdown-toggle:active,
.btn-group.open .dropdown-toggle {
  outline: 0;
}
.btn-group > .btn + .dropdown-toggle {
  *padding-top: 5px;
  padding-right: 8px;
  *padding-bottom: 5px;
  padding-left: 8px;
  -webkit-box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.125), inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.125), inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.125), inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.btn-group > .btn-mini + .dropdown-toggle {
  *padding-top: 2px;
  padding-right: 5px;
  *padding-bottom: 2px;
  padding-left: 5px;
}
.btn-group > .btn-small + .dropdown-toggle {
  *padding-top: 5px;
  *padding-bottom: 4px;
}
.btn-group > .btn-large + .dropdown-toggle {
  *padding-top: 7px;
  padding-right: 12px;
  *padding-bottom: 7px;
  padding-left: 12px;
}
.btn-group.open .dropdown-toggle {
  background-image: none;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.btn-group.open .btn.dropdown-toggle {
  background-color: #e6e6e6;
}
.btn-group.open .btn-primary.dropdown-toggle {
  background-color: #0044cc;
}
.btn-group.open .btn-warning.dropdown-toggle {
  background-color: #f89406;
}
.btn-group.open .btn-danger.dropdown-toggle {
  background-color: #bd362f;
}
.btn-group.open .btn-success.dropdown-toggle {
  background-color: #51a351;
}
.btn-group.open .btn-info.dropdown-toggle {
  background-color: #2f96b4;
}
.btn-group.open .btn-inverse.dropdown-toggle {
  background-color: #222222;
}
.btn .caret {
  margin-top: 8px;
  margin-left: 0;
}
.btn-large .caret {
  margin-top: 6px;
}
.btn-large .caret {
  border-top-width: 5px;
  border-right-width: 5px;
  border-left-width: 5px;
}
.btn-mini .caret,
.btn-small .caret {
  margin-top: 8px;
}
.dropup .btn-large .caret {
  border-bottom-width: 5px;
}
.btn-primary .caret,
.btn-warning .caret,
.btn-danger .caret,
.btn-info .caret,
.btn-success .caret,
.btn-inverse .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
.btn-group-vertical {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */
  *zoom: 1;
}
.btn-group-vertical > .btn {
  display: block;
  float: none;
  max-width: 100%;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.btn-group-vertical > .btn + .btn {
  margin-top: -1px;
  margin-left: 0;
}
.btn-group-vertical > .btn:first-child {
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
}
.btn-group-vertical > .btn:last-child {
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
}
.btn-group-vertical > .btn-large:first-child {
  -webkit-border-radius: 6px 6px 0 0;
  -moz-border-radius: 6px 6px 0 0;
  border-radius: 6px 6px 0 0;
}
.btn-group-vertical > .btn-large:last-child {
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
}
/* default btn */
.prev-btn {
  width: 30px;
  height: 30px;
  background: url('../images/prev.png') no-repeat 50% 50%;
  cursor: pointer;
}
.next-btn {
  width: 30px;
  height: 30px;
  background: url('../images/next.png') no-repeat 50% 50%;
  cursor: pointer;
}
/* jscrollpane style set */
.jspVerticalBar {
  width: 8px;
  background: transparent;
  margin-right: 4px;
}
.jspTrack {
  background: transparent;
}
.jspDrag {
  background: #E6E6E6;
}
.jspCap {
  height: 10px;
  display: block;
}
/* um editor style reset */
.edui-btn-toolbar .edui-tooltip {
  display: none !important;
}
.edui-toolbar .edui-btn-toolbar {
  padding: 0;
}
.edui-container,
.edui-container .edui-toolbar {
  border: none;
  box-shadow: none;
}
.edui-container .edui-toolbar {
  border-bottom: 1px solid #D4D4D4;
  border-top: 1px solid #D4D4D4;
}
.edui-btn-toolbar .edui-btn .edui-icon-emotion {
  top: 2px;
  left: 10px;
}
.edui-popup-emotion:before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  bottom: -10px;
  left: 10px;
  border-top: 10px solid #D9D9D9;
  border-right: 16px solid transparent;
  border-left: 16px solid transparent;
  z-index: 0;
}
.edui-popup-emotion:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  bottom: -8px;
  left: 10px;
  border-top: 10px solid #FFFFFF;
  border-right: 16px solid transparent;
  border-left: 16px solid transparent;
  z-index: 1;
}
.edui-popup .edui-popup-body {
  border: none;
}
.win-box {
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
  min-width: 100px;
  border: 1px solid #D9D9D9;
  box-shadow: #D9D9D9 0px 0px 6px;
  background: #FFFFFF;
  display: none;
}
.win-box .win-topbar {
  width: 100%;
  height: 28px;
  font-size: 18px;
  line-height: 28px;
  background: #F7F7F7;
  color: #9E9E9E;
  text-align: center;
  border-bottom: 1px solid #DCDCDC;
  cursor: move;
}
.win-box .win-close {
  width: 26px;
  height: 26px;
  float: right;
  cursor: pointer;
  background: url('../images/icons3.png') no-repeat -62px 8px;
}
.win-box .win-cent {
  padding: 1px;
  text-align: center;
}
#win-webrtc .win-cent {
  width: 400px;
  height: 300px;
  position: relative;
}
#win-webrtc .localBox {
  width: 120px;
  height: 90px;
  position: absolute;
  bottom: 0;
  left: 0;
}
#win-webrtc .remoteBox {
  width: 400px;
  height: 300px;
  position: absolute;
  top: 0;
  left: 0;
}
#win-webrtc video {
  width: 100%;
  height: 100%;
}
.session-cent {
  position: absolute;
  width: 429px;
  height: 270px;
  bottom: 68px;
  right: 36px;
  background: #FFFFFF;
  border: 1px solid #D9D9D9;
  box-shadow: #D9D9D9 0px 0px 6px;
  display: none;
}
.session-cent .scroll-cent {
  width: 429px;
  height: 270px;
}
.session-cent .scroll {
  width: 426px;
}
.session-cent:before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  bottom: -10px;
  right: 20px;
  border-top: 10px solid #D9D9D9;
  border-right: 16px solid transparent;
  border-left: 16px solid transparent;
  z-index: 9999;
}
.session-cent:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  bottom: -8px;
  right: 20px;
  border-top: 10px solid #FFFFFF;
  border-right: 16px solid transparent;
  border-left: 16px solid transparent;
  z-index: 9999;
}
.session-cent .list {
  float: left;
  width: 426px;
  padding-top: 16px;
  padding-bottom: 10px;
  position: relative;
}
.session-cent .list:after {
  content: "";
  display: block;
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 24px;
  right: 24px;
  background: #E6E6E6;
}
.session-cent .list:last-of-type:after {
  display: none;
}
.session-cent .list .class-name {
  float: left;
  width: 100px;
  line-height: 36px;
  text-align: center;
  margin-left: 30px;
  font-size: 16px;
  color: #3498DB;
}
.session-cent .list .class-list {
  width: 280px;
  float: right;
}
.session-cent .list .class-list li {
  float: left;
  width: 28px;
  height: 28px;
  border: 1px solid transparent;
  border-radius: 2px;
  margin: 8px;
  text-align: center;
  font-size: 16px;
  line-height: 26px;
  cursor: pointer;
}
.session-cent .list .class-list li:hover {
  border: 1px solid #3498DB;
}
.session-cent .list .class-list li.action {
  border: 1px solid #3498DB;
}
.data-syncing-pop .sync-tit {
  font-size: 40px;
}
.system-init-error .error-tit {
  font-size: 20px;
}
.system-holding .hold-tit {
  font-size: 20px;
}
.link-error-holding .hold-tit {
  font-size: 20px;
}
