/* jscrollpane style set */
.jspVerticalBar {
  width: 8px;
  background: transparent;
  margin-right: 4px;
}
.jspTrack {
  background: transparent;
}
.jspDrag {
  background: #E6E6E6;
}
.jspCap {
  height: 10px;
  display: block;
}

/* um editor style reset */
.edui-btn-toolbar .edui-tooltip {
  display: none !important;
}
.edui-toolbar .edui-btn-toolbar{
  padding: 0;
}
.edui-container,.edui-container .edui-toolbar{
  border: none;
  box-shadow: none;
}
.edui-container .edui-toolbar{
  border-bottom: 1px solid #D4D4D4;
  border-top: 1px solid #D4D4D4;
}
.edui-btn-toolbar .edui-btn .edui-icon-emotion{
  top: 2px;
  left: 10px;
}

/* main */
#wrapper{
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  background: #2B3141;
  position: absolute;
}
#main{
  width: 1366px;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

#left-cent{
  top: 0;
  left: 0;
  width: 744px;
  height: 100%;
  background: #FFFFFF;
  position: absolute;
}

#right-cent{
  top: 0;
  right: 0;
  width: 602px;
  height: 100%;
  background: #FFFFFF;
  position: absolute;
}


#left-cent,#right-cent{
  .topbar{
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    border-bottom: 2px dashed #E6E6E6;
    position: absolute;
  }

  .toolbar{
    right: 0;
    left: 0;
    bottom: 0;
    height: 50px;
    position: absolute;
    border-top: 1px solid #D9D9D9;
  }
  .title{
    display: inline-block;
    font-size: 18px;
    color: #999999;
    margin: 14px 0 0 30px;
    padding: 2px;
    position: relative;
    float: left;
    &:after{
      content: '';
      display: block;
      position: absolute;
      bottom: -6px;
      right: 0;
      left: 0;
      border-bottom: 1px solid #999999;
    }
  }

  .separated{
    width: 1px;
    height: 22px;
    background: #F0f0f0;
    margin: 14px 10px 12px 10px;
    float: left;
  }
  .tool-btn{
    cursor: pointer;
    float: left;
    font-size: 14px;
    height: 24px;
    line-height: 24px;
    color: #999999;
    padding-left: 30px;
    margin: 14px 10px 10px 10px;
    &:before{
      content: '';
      width: 30px;
      height: 26px;
      display: block;
      position: absolute;
    }
  }

  .task-ctl-btn{
    margin-left: 40px;
    padding-left: 40px;
    &:before{
      margin-left: -40px;
      background: url("../images/icon2.png") no-repeat 0px 0px;
    }
  }

  .add-error-btn{
    margin-left: 10px;
    padding-left: 30px;
    &:before{
      margin-left: -40px;
      background: url("../images/+.png") no-repeat 20px 8px;
    }
  }

  .play-video-btn{
    margin-left: 10px;
    padding-left: 30px;
    &:before{
      margin-left: -30px;
      background: url("../images/icon2.png") no-repeat -237px 0px;
    }
  }

  .play-sound-btn{
    margin-left: 10px;
    padding-left: 20px;
    &:before{
      margin-left: -30px;
      background: url("../images/icon2.png") no-repeat -237px 0px;
    }
  }

  .more-plan-btn{
    margin-left: 10px;
    padding-left: 30px;
    &:before{
      margin-left: -30px;
      background: url("../images/icon2.png") no-repeat -450px 0px;
    }
  }

  .prev-btn:before{
    width: 20px;
    background: url('../images/prev.png') no-repeat 4px 2px;
  }
  .next-btn:before{
    width: 20px;
    background: url('../images/next.png') no-repeat 4px 2px;
  }
  .prev-btn,.next-btn{
    padding-left: 0;
    width: 20px;
  }
  .tool-num{
    width: 50px;
    cursor: pointer;
    float: left;
    height: 28px;
    line-height: 28px;
    color: #747474;
    text-align: center;
    margin: 12px 0 8px 0;
    font-size: 24px;
  }
  .sound-btn{
    padding-left: 0;
    width: 24px;
    margin-left: 20px;
    &:before{
      background: url('../images/icons.png') no-repeat -114px -2px;
    }
  }

  .answer-btn{
    position: relative;
    padding-left: 20px;
    &:before{
      content: normal;
    }
    .checkbox{
      position: absolute;
      top: 6px;
      left: 0;
    }
  }

  .eraser-btn{
    margin-left: 10px;
    padding-left: 0;
    width: 30px;
    &:before{
      background: url('../images/eraser.png') no-repeat center center;
    }
  }

  .pen-red-btn{
    width: 26px;
    padding-left: 0;
    &:before{
      background: #FF0000;
      width: 26px;
    }
  }
  .pen-black-btn{
    width: 26px;
    padding-left: 0;
    &:before{
      background: #000000;
      width: 26px;
    }
  }
  .add-page-btn{
    margin-left: 10px;
    padding-left: 30px;
    &:before{
      margin-left: -40px;
      background: url("../images/+.png") no-repeat 20px 8px;
    }
  }

}

#left-cent{
  .run-time{
    margin: 18px 120px 0 0;
    float: right;
    display: inline-block;
    font-size: 16px;
    color: #999999;
    .num{
      width: 30px;
      display: inline-block;
      text-align: right;
    }
  }
  .close-class{
    float: right;
    margin: 14px 30px 0 0;
  }
  .plan-cent{
    top: 60px;
    bottom: 50px;
    right: 0;
    left: 0;
    position: absolute;
    overflow: hidden;
  }
  .plan-img{
    display: block;
    margin: 0 auto;
  }
  .scroll{
    width: 744px;
  }
}
#right-cent{
  .sketchpad-cent{
    top: 60px;
    bottom: 50px;
    right: 0;
    left: 0;
    position: absolute;
    overflow: hidden;
  }
  .sketchpad-img{
    position: absolute;
    top: 0;
    display: block;
    margin: 0 auto;
  }
  .scroll{
    width: 602px;
  }
}
#task-box-cent{
  position: absolute;
  top: 128px;
  bottom: 70px;
  left: 44px;
  width: 380px;
  border: 1px solid #D9D9D9;
  box-shadow: #D9D9D9 0px 0px 6px;
  background: #FFFFFF;
  display: none;
  &:before{
    content: "";
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    bottom: -10px;
    left: 20px;
    border-top: 10px solid #D9D9D9;
    border-right: 16px solid transparent;
    border-left: 16px solid transparent;
    z-index: 0;
  }
  &:after{
  content: "";
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  bottom: -8px;
  left: 20px;
  border-top: 10px solid #FFFFFF;
  border-right: 16px solid transparent;
  border-left: 16px solid transparent;
  z-index: 1;
  }
  .task-topbar{
    height: 28px;
    right: 0;
    left: 0;
    position: absolute;
    font-size: 18px;
    line-height: 28px;
    background: #F7F7F7;
    color: #9E9E9E;
    text-align: center;
    border-bottom: 1px solid #DCDCDC;
  }
  .task-name{
    width: 200px;
    margin-left: 88px;
    float: left;
    text-align: center;
  }
  .task-close{
    width: 26px;
    height: 26px;
    float: right;
    cursor: pointer;
    background: url('../images/icons3.png') no-repeat -62px 8px;
  }
  .task-cent{
    top: 28px;
    bottom: 135px;
    right: 0;
    left: 0;
    position: absolute;
    overflow: hidden;
  }
  .task-btmbar{
    height: 135px;
    bottom: 0;
    right: 0;
    left: 0;
    position: absolute;
  }
  .task-sum-btn{
    background: #3498DB;
    width: 70px;
    height: 28px;
    position: absolute;
    right: 4px;
    top: 1px;
    color: #FFFFFF;
    font-size: 18px;
    text-align: center;
    line-height: 28px;
    border-radius: 2px;
    cursor: pointer;
  }
  .task-webcam-btn{
    cursor: pointer;
    position: absolute;
    width: 26px;
    height: 22px;
    left: 50px;
    top: 4px;
    background: url('../images/icons.png') no-repeat 0px -2px;
  }
  .task-upload-btn{
    cursor: pointer;
    position: absolute;
    width: 30px;
    height: 22px;
    left: 92px;
    top: 4px;
    background: url('../images/icons.png') no-repeat -71px -2px;
    overflow: hidden;
    input{
      opacity: 0;
      width: 100%;
      height: 100%;
      cursor: pointer;
    }
  }

  .chat_content_group.buddy {
    text-align: left;
  }
  .chat_content_group {
    padding: 10px;
  }
  .chat_content_avatar {
    float: left;
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
  .chat_nick {
    font-size: 14px;
    margin: 0 0 10px;
  }
  .chat_content {
    display: inline-block;
    min-height: 16px;
    max-width: 50%;
    background: #F7F7F7;
    //            background: -webkit-gradient(linear,left top,left bottom,from(#cf9),to(#9c3));
    //            background: -webkit-linear-gradient(#cf9,#9c3);
    //            background: -moz-linear-gradient(#cf9,#9c3);
    //            background: -ms-linear-gradient(#cf9,#9c3);
    //            background: -o-linear-gradient(#cf9,#9c3);
    //            background: linear-gradient(#cf9,#9c3);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 10px 15px;
    word-break: break-all;
    //            box-shadow: 1px 1px 5px #000;
    border: 1px solid #E6E6E6;
    line-height: 1.4;
    position: relative;
    &:before {
      content: "";
      display: block;
      position: absolute;
      border-top: 3px solid transparent;
      border-bottom: 3px solid transparent;
      border-right: 10px solid #E6E6E6;
      top: 0px;
      left: -10px;
    }
    &:after {
      content: "";
      display: block;
      position: absolute;
      border-top: 3px solid transparent;
      border-bottom: 3px solid transparent;
      border-right: 10px solid #F7F7F7;
      top: 0;
      left: -6px;
    }
  }
  .chat_content_group.self {
    text-align: right;
    .chat_content_avatar {
      float: right;
      margin: 0 0 0 10px;
    }
    .chat_nick {
      text-align: right;
    }
    .chat_content {
      text-align: left;
    }
    .chat_content {
      background: #B5E1FF;
      border: 1px solid #93C4E6;
      //                background: -webkit-gradient(linear,left top,left bottom,from(white,#e1e1e1));
      //                background: -webkit-linear-gradient(white,#e1e1e1);
      //                background: -moz-linear-gradient(white,#e1e1e1);
      //                background: -ms-linear-gradient(white,#e1e1e1);
      //                background: -o-linear-gradient(white,#e1e1e1);
      //                background: linear-gradient(#fff,#e1e1e1);
      &:before {
        border-right: none;
        border-left: 10px solid #93C4E6;
        right: -10px;
        left: auto;
      }
      &:after {
        border-right: none;
        border-left: 10px solid #B5E1FF;
        right: -6px;
        left: auto;
      }
    }
  }
}


/* Media queries
-------------------------------------------------------------------------------*/

@media screen and (max-width: 480px) {
	
		
}



/* Print styles
-------------------------------------------------------------------------------*/
@media print {



}